*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--ff-primary: 'Source Sans Pro', sans-serif;
	--ff-secondary: 'Source Code Pro', monospace;

	--fw-reg: 300;
	--fw-bold: 900;

	--clr-light: #fff;
	--clr-dark: #303030;
	/* --clr-light: #333;
	--clr-dark: #fff; */
	--clr-accent: #535bd6da;

	--fs-h1: 3rem;
	--fs-h2: 2.25rem;
	--fs-h3: 1.25rem;
	--fs-body: 1rem;

	--bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
		0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
	:root {
		--fs-h1: 4.5rem;
		--fs-h2: 3.75rem;
		--fs-h3: 1.5rem;
		--fs-body: 1.125rem;
	}
}

/* general styles */

html {
	scroll-behavior: smooth;
}

body {
	background: var(--clr-light);
	color: var(--clr-dark);
	margin: 0;
	font-family: var(--ff-primary);
	font-size: var(--fs-body);
	line-height: 1.6;
}

section {
	padding: 5em 2em;
}

img {
	display: block;
	max-width: 100%;
}

strong {
	font-weight: var(--fw-bold);
	font-size: 3rem;
}

:focus {
	outline: 3px solid var(--clr-accent);
	outline-offset: 3px;
}

/* Buttons */

.btn {
	display: inline-block;
	padding: 0.5em 2.5em;
	background: var(--clr-accent);
	color: var(--clr-dark);
	text-decoration: none;
	cursor: pointer;
	font-size: 0.8rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: var(--fw-bold);
	transition: transform 200ms ease-in-out;
}

.btn:hover {
	transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
	line-height: 1.1;
	margin: 0;
}

h1 {
	font-size: var(--fs-h1);
}
h2 {
	font-size: var(--fs-h2);
}
h3 {
	font-size: var(--fs-h3);
}

.section__title {
	margin-bottom: 0.25em;
}

.section__title--intro {
	font-weight: var(--fw-reg);
}

.section__title--intro strong {
	display: block;
}

.section__subtitle {
	margin: 0;
	font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
	background: var(--clr-accent);
	padding: 0.25em 1em;
	font-family: var(--ff-secondary);
	margin-bottom: 1em;
}

.section__subtitle--work {
	color: var(--clr-accent);
	font-weight: var(--fw-bold);
	margin-bottom: 2em;
}

/* header */

header {
	display: flex;
	justify-content: space-between;
	padding: 1em;
	position: relative;
}

.logo {
	display: block;
	width: 40%;
}

.logo h2 {
	text-align: center;
}

@media (min-width: 600px) {
	.logo h2 {
		text-align: left;
	}
}

/* nav bar */

.nav-pc {
	background-color: var(--clr-accent);
	padding: 1em;
	display: none;
	width: 5em;
	height: 5em;
	position: fixed;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	transition: width 0.6s linear;
	overflow: hidden;
	right: 0.5em;
	z-index: 100;
	opacity: 0.8;
}

.nav-pc.active {
	width: 60%;
}

.nav-pc ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 0;
	transition: width 0.6s linear;
}

.nav-pc.active ul {
	width: 100%;
}

.nav-pc ul li {
	transform: rotateY(0deg);
	opacity: 0;
	transition: transform 0.6s linear, opacity 0.6s linear;
	margin: auto;
}

.nav-pc.active ul li {
	opacity: 1;
	transform: rotateY(360deg);
}

.nav-pc ul a {
	display: inline-block;
	position: relative;
	color: #000;
	text-decoration: none;
	font-size: 1.5em;
	margin: 0 0.8em;
	font-weight: 900;
	transition: transform 0.5s;
}

.nav-pc ul a:hover {
	transform: scale(1.2);
}

.icon {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	padding: 0;
	position: relative;
	height: 30px;
	width: 30px;
}

.icon:focus {
	outline: 0;
}

.icon .line {
	background-color: var(--clr-dark);
	height: 2px;
	width: 20px;
	position: absolute;
	top: 10px;
	left: 5px;
	transition: transform 0.6s linear;
}

.icon .line2 {
	top: auto;
	bottom: 10px;
}

.nav-pc.active .icon .line1 {
	transform: rotate(-765deg) translateY(5.5px);
}

.nav-pc.active .icon .line2 {
	transform: rotate(765deg) translateY(-5.5px);
}

.nav-mob {
	z-index: 100;
	position: fixed;
	bottom: 0;
	left: 0;
	margin-top: -5px;
	width: 100%;
	background-color: var(--clr-accent);
}

.nav-mob ul {
	background-color: #fff;
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 60px;
}

.nav-mob li {
	color: #777;
	cursor: pointer;
	flex: 1;
	padding: 10px;
	text-align: center;
}

.nav-mob li a {
	text-decoration: none;
	color: #777;
}

/* .nav-mob li a:visited */

.nav-mob ul li p {
	font-size: 12px;
	margin: 2px 0;
}

.nav-mob ul li :hover,
.nav-mob ul li a:active {
	color: var(--clr-accent) !important;
}

@media (min-width: 600px) {
	.nav-mob {
		display: none;
	}

	.nav-pc {
		display: flex;
	}
}

/*  Intro section  */

.intro {
	position: relative;
}

.intro__img {
	box-shadow: var(--bs);
}

.section__subtitle--intro {
	display: inline-block;
}

@media (min-width: 600px) {
	.intro {
		display: grid;
		width: min-content;
		margin: 0 auto;
		grid-column-gap: 1em;
		grid-template-areas:
			'img title'
			'img subtitle';
		grid-template-columns: min-content max-content;
	}

	.intro__img {
		grid-area: img;
		min-width: 250px;
		position: relative;
		z-index: 2;
	}

	.section__subtitle--intro {
		align-self: start;
		grid-column: -1 / 1;
		grid-row: 2;
		text-align: right;
		position: relative;
		left: -1.5em;
		width: calc(100% + 1.5em);
	}
}

/*  My services section  */

.my-services {
	background-color: var(--clr-dark);
	background-image: url(../img/services-bg.jpg);
	background-size: cover;
	/* background-blend-mode: multiply; */
	color: var(--clr-light);
	text-align: center;
}

.section__title--services {
	color: var(--clr-accent);
	position: relative;
}

.section__title--services::after {
	content: '';
	display: block;
	width: 2em;
	height: 1px;
	margin: 0.5em auto 1em;
	background: var(--clr-light);
	opacity: 0.25;
}

.services {
	margin-bottom: 0.4em;
}

.service {
	max-width: 100%;
	margin: 0 auto;
}

@media (min-width: 800px) {
	.services {
		display: flex;
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}

	.service + .service {
		margin-left: 2em;
	}
}

.about-me {
	max-width: 1000px;
	margin: 0 auto;
}

.about-me__img {
	box-shadow: var(--bs);
}

@media (min-width: 600px) {
	.about-me {
		display: grid;
		grid-template-columns: 1fr 200px;
		grid-template-areas:
			'title img'
			'subtitle img'
			'text img';
		grid-column-gap: 2em;
	}

	.section__title--about {
		grid-area: title;
	}

	.section__subtitle--about {
		grid-column: 1 / -1;
		grid-row: 2;
		position: relative;
		left: -1em;
		width: calc(100% + 2em);
		padding-left: 1em;
		padding-right: calc(200px + 4em);
	}

	.about-me__img {
		grid-area: img;
		position: relative;
		z-index: 2;
	}
}

/* skills */

.my-skills {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-between;
	height: auto;
	padding: 0;
}

.section__title--skills {
	text-align: center;
}

.progress-bars-wrapper {
	margin: 1em;
}

.progress-bar {
	width: 80%;
	height: 2em;
	background-color: #ccc;
	margin: 1em auto;
	border-radius: 0.3em;
	box-shadow: 0.02em 0.01em 0.5em #555;
	position: relative;
}

.progress-text {
	position: absolute;
	left: 1em;
	font-size: 1em;
	color: black;
	margin-block-start: 0.2em;
	font-weight: 700;
}

.progress-percent {
	width: 0;
	height: 100%;
	background-color: var(--clr-accent);
	border-radius: 0.3rem;
	transition: width 0.5s 0.5s ease-in-out;
}

.services {
	width: 100%;
	/* height: 30vh; */
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	margin: 1em 0;
}

.service {
	text-align: center;
	margin: 1em;
}

.service i {
	font-size: 5em;
	color: #888;
}

.service h2 {
	font-size: 0.91em;
	background-color: #777;
	color: #fff;
	width: 8em;
	letter-spacing: 0.3em;
	transform: skew(-10deg);
	box-shadow: 0.2em 0.2em 0.5em #555;
	margin: 1em 0;
}

@media (min-width: 800px) {
	.progress-bars-wrapper {
		display: block;
		width: 50%;
		margin: 0 auto;
	}

	.services {
		margin: 1em auto;
	}
}

/* end of skills */

/* MY Work */

/* filter */

.my-work {
	background-color: var(--clr-dark);
	color: var(--clr-light);
	text-align: center;
}

.filter ul {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 0;
}

.filter ul li {
	list-style-type: none;
	margin: 0.5em;
	border: 4px solid var(--clr-accent);
	padding: 1em 1.5em;
	transition: transform 0.5s;
	font-weight: 700;
}

.filter ul li.active,
.filter ul li:hover {
	transform: scale(1.1);
	background-color: var(--clr-accent);
}

/* end of filter */

.portfolio {
	/* display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 1em; */
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
	/* justify-content: space-around; */
	justify-content: center;
}

.portfolio__item {
	/* background: var(--clr-accent); */
	height: 8em;
	width: 17em;
	overflow: hidden;
	transform-origin: center;
	transition: all 1s;
	margin: 0.5em;
}

.portfolio__img {
	transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.portfolio__item:focus {
	position: relative;
	z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
	transform: scale(1.2);
	opacity: 0.5;
}

.portfolio__item.hide {
	/* opacity: 0; */
	height: 0;
}

/* cv download */
.DownCV {
	background-color: var(--clr-accent);
	text-align: center;
}

/* footer */

.footer {
	background: #111;
	color: var(--clr-accent);
	text-align: center;
	padding: 4em 0;
	font-size: var(--fs-h3);
}

.footer a {
	color: inherit;
	text-decoration: none;
}

.footer__link {
	font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
	opacity: 0.7;
}

.footer__link:hover {
	text-decoration: underline;
}

.social-list {
	list-style: none;
	display: flex;
	justify-content: center;
	margin: 2em 0 0;
	padding: 0;
}

.social-list__item {
	margin: 0 0.5em;
}

.social-list__link {
	padding: 0.5em;
}

@media (min-width: 600px) {
	.footer {
		padding: 2.5em 0;
	}
}
